
.idea/
adapter-patterns/adapter-patterns.iml
adapter-patterns/src/main/resources/
adapter-patterns/src/test/
adapter-patterns/target/
builder/builder.iml
decorator-patterns/decorator-patterns.iml
design-patterns.iml
dynamic-proxy/dynamic-proxy.iml
factory-pattern/simplefactor-ypattern.iml
observer-patterns/observer-patterns.iml
prototype-pattern/prototype-pattern.iml
prototype-pattern/src/main/resources/
prototype-pattern/src/test/
prototype-pattern/target/
singleton/singleton.iml
strategy-patterns/duck.iml
